body {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}
.header {
  background-color: #fff;
  background-image: url(../imagenes/background_header.svg);
  background-size: cover;
  background-position: center;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}
.nav {
  display: flex;
  justify-content: space-between;
  margin: 30px 26px 0 30px;
}
.nav-links {
  font-weight: 500;
  display: flex;
  gap: 20px;
  list-style: none;
}
.nav-link {
  text-decoration: none;
  color: #000;
}
.nav-link:hover {
  color: #ff976b;
}
.logo {
  width: 105px;
  height: 39px;
}
.header-title {
  max-width: 709px;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  padding-left: 80px;
  margin-top: 183px;
}
.span-accent {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #ff976b;
  display: block;
}
.header-description {
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
  padding-left: 80px;
  margin: 28px 0 0;
}
.header-image {
  width: 646px;
  height: 568px;
  position: absolute;
  right: 5px;
  top: 124px;
}
.header-info {
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  align-items: flex-end;
}
.info-text {
  font-weight: 500;
  color: #6f6f6f;
  margin: 0;
}
/* ====== Main ====== */
.content {
  background-color: #ffd6c5;
  background-image: url(../imagenes/background_reservation.svg);
  background-size: cover;
  min-height: 100vh;
}
.form-container {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 120px;
}
.form-container__title {
  font-weight: 500;
  letter-spacing: -1px;
  font-family: "Inter";
  font-style: normal;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
}
.form {
  max-width: 385px;
  text-align: left;
}
.form__label {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 8px;
}
.form__input {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  width: 385px;
  height: 60px;
  margin-bottom: 32px;
  border-radius: 4px;
}
.form__button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  background-color: #e96e3a;
  margin-top: 16px;
  height: 60px;
  width: 385px;
  transition: background-color 0.3s;
}
.form__button:hover {
  opacity: 0.7;
}
.form__terms-container {
  padding-top: 32px;
  border-radius: 2px;
}

/* ====== Footer ====== */

.footer {
  padding: 60px 100px 60px 80px;
  color: #fff;
  background-color: #d35722;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  margin-bottom: 16px;
}

.footer__list-item:last-of-type {
  margin-bottom: 0;
}

.footer__logo {
  width: 105px;
  height: 39px;
  z-index: 1;
}
.footer__social-heading {
  margin: 0 0 20px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.footer__social-link {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__copyright {
  margin: 108px 0 0;
}

.footer__circle {
  background-color: #e96e3a;
  width: 340px;
  height: 340px;
  border-radius: 50%;
  position: absolute;
  left: -44px;
  top: -128px;
  z-index: 0;
}
